@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'variables';
@import 'Header';

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body,
#root,
.App {
  background-color: $background-color;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.4rem;
}

.page {
  width: 100%;
  max-width: $content-width;
  margin: 2em auto 0;
}

.content-row {
  margin-top: 3em;
}

.tile {
  box-shadow: $drop-shadow;
  background-color: white;
}

.table {
    $column-width-checkbox: 6%;
    $column-width-other: 23%;
    $column-padding: 2%;

    .table-header {
      display: inline-block;
      font-size: 0.8em;
    }

    .table-row {
      border-bottom: $border-style;
      display: flex;
      white-space: nowrap;
    }

    .table-header > *,
    .table-row > * {
      display: inline-block;
      overflow: hidden;
      padding: 0.5em $column-padding 0.2em;
      &:first-child {
        width: $column-width-checkbox;
      }
      &:not(:first-child) {
        width: $column-width-other;
        border-left: $border-style;
      }
    }
}
