@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'Header';

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body,
#root,
.App {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.4rem;
}

.page {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
