@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'colors';

html,
body,
#root,
.App {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.App {
  text-align: center;
}
