@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'variables';
@import 'Header';

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body,
#root,
.App {
  background-color: $background-color;
  margin: 0;
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.4rem;
}

.page {
  width: 100%;
  max-width: $content-width;
  margin: 2em auto 0;
}

.content-row {
  margin-top: 3em;
}

.tile {
  box-shadow: $drop-shadow;
  background-color: white;
}

.table {
  $column-width-checkbox: 6%;
  $column-width-other: 24%;
  $column-padding: 2%;

  .table-header {
    display: inline-block;
    font-size: 0.8em;
  }

  .input-row {
    $row-border-style: 5px solid $hydroshare-blue;

    background-color: $hydroshare-blue;
    border-left: $row-border-style;
    border-right: $row-border-style;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;

    & > * {
      padding: 0.5em 0.75em;
    }

    input[type="text"] {
      border-top: $row-border-style;
      border-right: none;
      border-bottom: $row-border-style;
      border-left: none;
    }

    button {
      align-items: center;
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      transition: background-color 0.3s ease;

      &:hover:not(:disabled) {
        background-color: darken($hydroshare-blue, 10);
      }

      &:disabled {
        color: gray;
      }

      span {
        color: white;
      }
    }
  }

  .table-row {
    align-items: center;
    border-bottom: $border-style;
    display: flex;
    white-space: nowrap;
  }

  .table-header > *,
  .table-row > * {
    display: inline-block;
    overflow: hidden;
    padding: 0.5em $column-padding 0.2em;
    &:first-child {
      width: $column-width-checkbox;
    }
    &:not(:first-child) {
      width: $column-width-other;
      border-left: $border-style;
    }
  }
}
