$light-blue-grey: #edf2f4;
$light-blue: #d9eeec;
$blue-grey: #d8dcde;
$dark-blue-grey: #cbd0da;
$medium-blue: #64b2cd;
$dark-blue: #007090;
$orange: #da9833;
$orange-yellow: #e3b23c;

$final-dark-blue: #1f658e;
$final-mid-blue: #489ec2;
$final-light-blue: #41bef4;
$final-dark-green: #64a030;
$final-light-green: #a1c928;