$drop-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);

$background-color: #eeeeee;
$light-blue-grey: #edf2f4;
$light-blue: #d9eeec;
$blue-grey: #d8dcde;
$dark-blue-grey: #cbd0da;
$hydroshare-blue: #2D9CDB;
$link-blue: #2586a6;
$medium-blue: #64b2cd;
$dark-blue: #007090;
$jupyter-orange: #F2994A;
$orange: #da9833;
$orange-yellow: #e3b23c;
$red: #EB5757;
$yellow: #EFB004;

$final-dark-blue: #1f658e;
$final-mid-blue: #489ec2;
$final-light-blue: #41bef4;
$final-dark-green: #64a030;
$final-light-green: #a1c928;

$content-width: 1140px;
$container-padding: 1.5em;

$border-style: 1px solid $blue-grey;
