@import 'variables';

.FilePane {
  $gutter-width: 2.5%;

  width: 50% - $gutter-width/2;
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
  border: $border-style;
  background-color: white;

  .FilePane-header .title-row {
    align-items: center;
    border-bottom: $border-style;
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1em;

    .title {
      font-size: 1.2em;
    }

    img {
      height: 1.5em;
    }
  }

  .no-files {
    padding: 2em;
    text-align: center;
  }

  .table-header {
    user-select: none;
    -moz-user-select: none;

    button {
      background-color: transparent;
      border: none;
      text-align: left;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #dddddd;
      }
    }
  }

  .table-row {
    border-bottom: $border-style;
    display: flex;
    white-space: nowrap;

    &:not(.dragging) {
      transform: none !important;
    }

    &.dragging {
      background-color: white;
      border: $border-style;
    }

    .collapsed svg {
      transform: rotate(-90deg);
    }
  }

  .FilePane-files-container {
    flex-grow: 1;
  }

  $draggable-bg-lighten-amount: 30;
  &.jupyterhub {
    .draggable-over {
      margin: -2px;
      background-color: lighten($jupyter-orange, $draggable-bg-lighten-amount);
      border: 2px solid $jupyter-orange;
    }
  }

  &.hydroshare {
    .draggable-over {
      margin: -2px;
      background-color: lighten($hydroshare-blue, $draggable-bg-lighten-amount);
      border: 2px solid $hydroshare-blue;
    }
  }

  .clickable {
    cursor: pointer;
  }
}