@import 'colors';

.FileManager {
  $gutter-width: 2.5%;

  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  .FilePane {
    $column-width-checkbox: 6%;
    $column-width-other: 23%;
    $column-padding: 2%;
    $border-style: 1px solid $blue-grey;

    width: 50% - $gutter-width/2;
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
    border: $border-style;
    background-color: white;

    .FilePane-header {
      align-items: center;
      border-bottom: $border-style;
      display: flex;
      justify-content: space-between;
      padding: 0.6em 1em;

      .title {
        font-size: 1.2em;
      }

      img {
        height: 1.5em;
      }
    }

    .table-header {
      display: inline-block;
      font-size: 0.8em;
    }

    .table-row {
      border-bottom: $border-style;
      display: flex;
      white-space: nowrap;

      &.dragging {
        background-color: white;
        border: $border-style;
      }
    }

    .FilePane-files-container {
      flex-grow: 1;
    }

    .table-header > *,
    .FilePane-files-container .table-row > * {
      display: inline-block;
      overflow: hidden;
      padding: 0.5em $column-padding 0.2em;
      &:first-child {
        width: $column-width-checkbox;
      }
      &:not(:first-child) {
        width: $column-width-other;
        border-left: $border-style;
      }
    }

    $draggable-bg-lighten-amount: 30;
    &.jupyterhub {
      .draggable-over {
        background-color: lighten($jupyter-orange, $draggable-bg-lighten-amount);
        border: 2px solid $jupyter-orange;
      }
    }

    &.hydroshare {
      .draggable-over {
        background-color: lighten($hydroshare-blue, $draggable-bg-lighten-amount);
        border: 2px solid $hydroshare-blue;
      }
    }

    .clickable {
      cursor: pointer;
    }
  }
}