@import 'constants';

.FileManager {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  .actions-row {
    background: #2D9CDB;

    .search {
        background: white;
    }

    .button-enabled {
        background: white;
    }
  }

  .actions-row.local {
    background: #F2994A;
  }
}