@import 'constants';

.FilePane {
  $gutter-width: 2.5%;

  width: 50% - $gutter-width/2;
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
  border: $border-style;
  background-color: white;

  .scrollable-container {
    flex-grow: 1;
    max-height: 30em;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .FilePane-header .title-row {
    align-items: center;
    border-bottom: $border-style;
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1em;

    .title {
      font-size: 1.2em;
    }

    img {
      height: 1.5em;
    }
  }

  .table-header {
    user-select: none;
    -moz-user-select: none;

    button {
      background-color: transparent;
      border: none;
      text-align: left;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #dddddd;
      }
    }
  }


  .table-row {
    border-bottom: $border-style;
    display: flex;
    white-space: nowrap;

    &:not(.dragging) {
      transform: none !important;
    }

    &.dragging {
      background-color: white;
      border: $border-style;
    }

    .collapsed svg {
      transform: rotate(-90deg);
    }
    // &:hover {
    //   background-color: #dddddd;
    // }
  }

  .context-menu {
    background-color: #49494a;
    padding: 1em;
    padding-bottom: 0.25em;
    padding-top: 0.75em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    color: lightgray;
    font-weight:bold;

    .menu-item {
      margin-bottom: 0.5em;
    }
  }

  .FilePane-files-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  $draggable-bg-lighten-amount: 30;
  &.jupyterhub {
    .draggable-over {
      margin: -2px;
      background-color: lighten($jupyter-orange, $draggable-bg-lighten-amount);
      border: 2px solid $jupyter-orange;
    }
  }

  &.hydroshare {
    .draggable-over {
      margin: -2px;
      background-color: lighten($hydroshare-blue, $draggable-bg-lighten-amount);
      border: 2px solid $hydroshare-blue;
    }
  }

  .clickable {
    cursor: pointer;
  }
}