@import './colors.scss';

.FileList {
  width: 100%;


  .spacer {
    display: inline-block;
    width: 1em;
  }

  thead {
    font-weight: bold;
  }

  td {
    padding: 0.3em;
  }

  .Toolbar{
    background-color: $final-mid-blue;
    display:flex;
    justify-content: space-between;
    color: white;
  }

}