.filterParent {
  width: 100%;
  margin: auto;
  height: 60px;
  background-color: #d9eeec;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  padding: 5px;
  box-shadow: 1px 1px 2px 0px #64b2cd;
  display: flex; }

.filterForm {
  margin: 6px;
  width: 23em; }

.filterForm-checkbox {
  width: 0px; }

.filterForm-searchBox {
  width: 200px; }

.folder-open {
  margin-left: auto;
  margin-top: 6px;
  margin-right: 12px;
  height: 36px;
  padding-top: 3px; }

.folder {
  margin-right: 12px;
  height: 36px;
  padding-top: 3px;
  margin-top: 6px; }

.filter-sortBy {
  margin-top: 6px; }

.delete-button {
  margin-right: 12px;
  height: 36px;
  padding-top: 3px;
  margin-top: 6px; }

.new-folder-button {
  margin-left: auto;
  margin-right: 12px;
  height: 36px;
  margin-top: 6px;
  padding-top: 4px;
  margin-bottom: 7px; }

.selectAll-checkbox {
  margin-left: 12px;
  margin-top: 6px; }
