@import 'variables';

.filterParent {
    width: 100%;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: $final-dark-blue;
    font-family: Montserrat, sans-serif;
    padding: 0.5em;
    display: flex;
}

.filterForm {
    margin: 6px;
    width:23em;
}

.filterForm-checkbox{
    width: 0;
}

.filterForm-searchBox{
    width: 200px;
}

.folder-open {
    margin-left: auto;
    margin-top: 6px;
    margin-right: 12px;
    height: 36px;
    padding-top: 3px;
}

.folder {
    margin-right: 12px;
    height: 36px;
    padding-top: 3px;
    margin-top: 6px;
}

.filterBar-sync{
    height: 36px;
    margin: 6px 12px 7px auto;
}

.delete-button{
    margin-right: 12px;
    height: 36px;
    padding-top: 3px;
    margin-top: 6px;
}

.new-folder-button {
    height: 36px;
    padding-top: 4px;
    margin: 6px 12px 7px auto;
}

.selectAll-checkbox{
    margin-left: 12px;
    margin-top: 6px;
}
