@import 'variables';

.filterBarParent{
    width: 100%;
    margin: auto;
    height: 60px;
    background-color: $final-dark-blue;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    padding: 5px;
    box-shadow: 1px 1px 2px 0px $final-mid-blue;
    display: flex;
}

.filterBarForm {
    margin: 6px;
    width:23em;
}

.filterBarForm-checkbox .selectAll-checkbox{
    margin-top: 6px;
}

.filterBarForm-checkbox .selectAll-checkbox .form-check-label{
    margin-left: 12px;
    color: $light-blue-grey;
    font-weight: bold;
}

.filterBarForm-searchBox{
    width:200px;
}

.folder-open {
    margin-left: auto;
    margin-top: 6px;
    margin-right: 12px;
    height: 36px;
    padding-top: 3px;
}

.folder {
    margin-right: 12px;
    height: 36px;
    padding-top: 3px;
    margin-top: 6px;
}

.filterBar-sortBy{
    margin-top:6px;
}

.delete-button{
    margin-right: 12px;
    height: 36px;
    padding-top: 3px;
    margin-top: 6px;
}

.selectAll-checkbox{
    margin-left: 12px;
    margin-top: 6px;
}
