@import 'colors';
@import 'dimensions';

header {
  background-color: white;
  width: 100%;
  box-shadow: $drop-shadow;
  padding: 1em;
}

.header-content {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content img {
  max-height: 3em;
}
