header {
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 1em;
  margin-bottom: 2em;
}

.header-content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content img {
  max-height: 3em;
}
