@import 'variables';

.Modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    background-color: white;
    z-index: 1010;

    .header {
      border-bottom: $border-style;
      display: flex;
      justify-content: space-between;
      padding: 1em;
    }

    .body {
      padding: 1em;
    }

    .footer {
      border-top: $border-style;
    }
  }
}
