@import 'variables';

.ResourceInfo {
  margin-bottom: 1em;
  padding: $container-padding;

  .title {
    margin-bottom: 0.5em;
  }

  .resource-meta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .resource-info {

    .info-header {
      font-size: 0.9em;
      color: rgb(125, 122, 122);
    }

    .info-wrapping {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-child) {
        margin-right: 2em;
      }
    }

    .info-read-more {
      color: $medium-blue;
    }

    .info-content {
      float: left;
    }

    .info-edit {
      float: right;
      color: #2586a6;
    }
  }

  .locate-in-hs {
    background-color: $medium-blue;
    border-radius: 0.25em;
    color: white;
    padding: 0.375rem 0.75rem;
  }
}