@import 'variables';

.ResourceList {
    .ResourceList-header {
        padding: 1em;
    }

    .actions-row {
        background: #2D9CDB;

        .search {
            background: white;
        }

        .button-enabled {
            background: white;
        }
    }

    .archive-header{
        font-weight: bold;
    }

    .archive-resource-list{
        text-align: center;
        font-style: italic;
    }
}