@import './colors.scss';

.resourcesParent{
    width: 100%;
    margin: auto;
    background-color: $light-blue-grey;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    box-shadow: 1px 1px 2px 0px $medium-blue;
    display: flex;
    flex-direction:column;
    padding-top:3px;
    padding-bottom: 12px;
}

.resourcesLine{
    margin: 3px;
    margin-left: 9px;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    display: flex;
    border-width: 0px 0px 1px 0px;
    border-color: $blue-grey;
    border-style: solid;
    margin-right: 9px;
    cursor: pointer;
}

.checkbox-form {
    width: 30px;
}

.resource-name {
    min-width: 300px;
    width: 30%;
    margin-top: 2px;
    margin-right:12px;
}

.resource-author {
    min-width: 200px;
    width: 20%;
    margin-top: 2px;
    margin-right:12px;
}

.resource-lastModified {
    min-width: 100px;
    width: 10%;
    margin-top: 2px;
    margin-right:12px;
}

.resource-status {
    min-width: 100px;
    width: 20%;
    margin-top: 2px;
}

.Toolbar {
    background-color: #b7ce63;
    display:flex;
    justify-content: space-between;
}

.new-resource-button {
    margin-right: 12px;
    height: 36px;
    margin-top: 12px;
    padding-top: 4px;
    margin-bottom: 7px;
    float: right;
}

.MuiToolbar-root {
    width: 60%;
}