# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

login.py

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__/*
backend/login.py
backend/hydroshare_gui/login.py
backend/hydroshare_gui/backend/tests/hs_resources
backend/hs_resources/
backend/hydroshare_gui/__pycache__/*
backend/hydroshare_gui/local_hs_resources
documentation/Jupyter_Install.md
backend/test_delete.md
backend/charlie_status.md
backend/charlie_tests.py

webapp/build/*
bundle.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WebStorm
.idea/
*.pyc
*.ipynb_checkpoints
