{% from notebook.utils import url_path_join %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="shortcut icon"
      href="{{ url_path_join(frontend_path, '/assets/favicon.ico') }}"
    />
    <title>{% block title %} CUAHSI Compute Sync {% end %}</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">{% comment React app is rendered from here%}</div>
    <script>
      window.GETTING_STARTED_NOTEBOOK_PATH = {{ getting_started_notebook_path }};
      console.log(window.GETTING_STARTED_NOTEBOOK_PATH);
      window.NOTEBOOK_URL_PATH_PREFIX = {{notebook_url_path_prefix}};
      console.log(window.NOTEBOOK_URL_PATH_PREFIX);
      window.FRONTEND_URL = {{ frontend_path }};
      window.BACKEND_API_URL = {{ backend_path }};
    </script>
    <script
      type="text/javascript"
      src="{{ url_path_join(frontend_path, f'/assets/bundle-{bundle_suffix}.js') }}"
    ></script>
  </body>
</html>
